---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.svg";
---

<Layout>
  <main class="h-full flex justify-center p-12">
    <section class="flex flex-col justify-center gap-8">
      <img src={logo.src} alt="Where to eat logo" class="max-h-[360px]" />
      <a
        href="/result"
        class="py-3 px-6 rounded-full bg-[#f385d4] hover:bg-[#ed45bd] text-white text-center text-2xl font-bold cursor-pointer transition-colors duration-400"
      >
        Where to eat?
      </a>
    </section>
  </main>
</Layout>
