---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.svg";
import "@fontsource-variable/museomoderno";
---

<Layout>
  <main class="h-full flex justify-center p-12">
    <section class="flex flex-col justify-center items-center gap-8 bounce-in">
      <img src={logo.src} alt="Where to eat logo" class="max-h-[360px] pin-bounce" />
      <a
        href="javascript:setTimeout(() => { window.location = '/result' }, 300);"
        class="w-fit py-4 px-12 rounded-full bg-[#f385d4] hover:bg-[#F06ACA] active:bg-[#EB33B7] text-white text-2xl font-bold cursor-pointer transition-colors duration-400 button-animation"
      >
        Where to eat?
      </a>
    </section>
  </main>
</Layout>

<style>
  a {
    font-family: "MuseoModerno Variable", sans-serif;
    letter-spacing: 0.05em;
  }

  .bounce-in {
    animation: bounce-in 1s ease-in;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

  .pin-bounce {
    animation: pin-bounce 2.5s ease infinite;
    animation-delay: 0.5s;
  }
  @keyframes pin-bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-40px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  :root {
    --button-grow: scale3d(1.1, 1.1, 1);
    --button-shrink: scale3d(0.95, 0.95, 1);
    --button-transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }

  .button-animation {
    transform: var(--button-shrink);
    transition: var(--button-transition);
  }
  .button-animation:hover {
    transform: var(--button-grow);
    transition: var(--button-transition);
  }
  .button-animation:active {
    transform: var(--button-shrink);
    transition: var(--button-transition);
  }
</style>
